@import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Sacramento&display=swap');

.containerWishList {
    text-align: center;
    height: 720px;
    width: 500px;
    margin: 20px auto 20px auto;
    padding: 20px 20px 20px 20px;
    background-image: url('../../assets/clipLetter.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.containerEnv {
    text-align: center;
    height: 650px;
    width: 700px;
    margin: 0px auto 0px auto;
    background-image: url('../../assets/envclose.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.wishList {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 350px;
    margin: 230px auto 0px auto;
    font-size: 70px;
}

textarea {
    background: transparent;
    border: none;
    font-family: 'Sacramento', cursive;
    font-size: 25px;
    line-height: 40px;
    outline: none;
}

.Santa {
    padding: 305px 0px 0px 0px !important;
}

.nameText {
    color: rgb(112, 3, 3);
    font-size: 20px;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    font-family: 'Mountains of Christmas', cursive;
}

.signInput {
    background: none;
    border: none;
    padding: 0px 20px 20px 20px;
    outline: none;
    font-family: 'Sacramento', cursive;
    font-size: 30px;
}
