@import url('https://fonts.googleapis.com/css?family=Princess+Sofia&display=swap');
.naughty {
  background-image: url('https://images.squarespace-cdn.com/content/v1/5744b64b5559866f426c7377/1557266700521-1Y1ILK3D6JIBHF3QB3JD/ke17ZwdGBToddI8pDm48kPJXHKy2-mnvrsdpGQjlhod7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmNhTL1csF4IG5y-qj70Wo08mNhyC0Li-nnGmSWmu-RPzBQHhRD1i-jLysqaC42N26/tree-mobile.gif');
  background-repeat: repeat;
  background-size: 200px
}

.letter-santa{
  background-image: url('../../assets/santaletter.jpg');
background-size: 500px;
background-repeat: no-repeat;
background-position: center;
height:100vh;
 display: flex;
justify-content: center;
flex-direction: column;
}

.letter-santa > p {
  text-align:left;
  width: 400px;
  font-family: 'Princess Sofia', script;
  font-size: 28px;
  margin: 0 auto;
}